* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

body {
  /* height: 100vh; */
  background-color: #202020;
  color: aliceblue;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

main {
  width: 120rem;
  /* border: 1px solid #777; */
  background-color: #282828;
  border-radius: 2rem;
  box-shadow: 0 0 5rem #080808;
  padding: 1rem 2rem;
}

.h1 {
  font-size: 2.5rem;
  font-weight: 400;
  color: transparent;
  text-shadow: 0 0 1px #FFFFFFAA, 0 0 0 #000;
  line-height: 1;
  text-align: center;
  margin-bottom: 2rem;
}

.textBlock {
  margin-bottom: 2rem;
}

.textBlock h2 {
  color: #CCC;
  font-size: 1.8rem;
  font-weight: 500;
}

.textBlock p {
  font-size: 1.5rem;
}

.counter {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.counterLine {
  display: grid;
  width: 20rem;
  grid-template-columns: repeat(2, min-content) 6rem 1fr;
  align-items: center;
  gap: 1rem;
}

.dateString {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.counterLine:first-of-type {
  margin-bottom: .5rem;
}

.btn {
  background-color: #282828;
  border: 1px solid #555;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 1px 1px #555;
  color: #FFF;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
}

.btnB {
  background-color: #282828;
  border: 1px solid #555;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 1px 1px #555;
  color: #FFF;
  font-size: 1.5rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
}


.btn:hover {
  border-color: #777;
}

.btn:active {
  transform: scale(.95);
}

input[type='text'] {
  background-color: inherit;
  border: 1px solid #555;
  color: inherit;
  font-family: inherit;
  font-size: 1.7rem;
  padding: 0 .5rem;
  width: 15rem;
  outline: none;
}

input[type="range"] {
  outline: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 18rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #555;
  border-radius: 0.5rem;
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  margin-top: -5px; 
  background-color: #DDD;
  border-radius: 1rem;
  height: 1.5rem;
  width: 1.5rem;
}

.flashcards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(11rem, max-content));
  gap: 1rem;
  padding-bottom: 2rem;
}

.card {
  border: 1px solid #777;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.card:hover {
  background-color: #333;
}

.card.selected {
  background-color: #777;
  color: #FFF;
}

.bb { border-bottom: 1px solid #DDD}
.mb { margin-bottom: 2rem }
.mbm { margin-bottom: 1rem }
.fb { font-weight: 700 }
